a{
    text-decoration: none;
}

.container{
    background-color: #aaa9a9;
    z-index: 0;
}

.menu{
    display: none;
    position: fixed;
    background-color: #0c0c0cf5;
    height: 100%;
    width: 100vw;
    z-index: 10;
}

.menu > ul {
    display: flex;
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    flex-direction: column;
   justify-content: center;
    align-items: center;
    gap: 20px 0px;
}

.item{
    list-style: none;
}

.item > a {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

/* LandigPage */

.nav{
    padding: 15px;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    width: 96vw - 5px;
    background-color: #080808d2;
    z-index: 1000;
}

.nav__block{
    display: flex;
    margin: 0px;
    flex-direction: row;
    justify-content: space-around;
}

.nav__element{
    list-style: none;
}

.nav__element > a {
    font-family: 'Raleway', sans-serif;
    font-size: larger;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    color: #ffffff;
}

.nav__menu{
    display: none;
    margin-left: -40px;
    font-size: 20px;
    color: #fff;
}

.nav__logo{
    padding: 5px;
    border: solid 2px #ffffff;
    border-radius: 10px;
}

.hero-block{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 15px 20px #464646;
}

.hero-block::before{
    content: "";
    background-image: url('../imgs/Background_Hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.74;
}

.hero-block__info{
    position: relative;
    color: #000000;
    padding: 10px;
    text-align: center;
}

.hero-block__info > img {
    border: solid 1px #000000;
    border-radius: 20px;
}

.hero-block__info > hr {
    border: 1px solid #000000;
    margin-bottom: 20px;
}

.hero-block__subtitle{
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: #ffffff 1px 0px 13px;
    margin-bottom: 0px;
}

.hero-block__subtitle b{
    letter-spacing: 1.8px;
    color: #ffffff;
}

.hero-block__information{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    text-shadow: #888888 1px 0px 8px;
    z-index: 100;
}

.hero-block__button{
    display: flex;
    align-items: center;
    justify-content: center;
}
         
        
.btn-grad {
    background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
 
.hero-block__button > label {
    margin: 20px;
    padding: 15px 30px 15px 30px;
    background-color: #ebebeb;
    border: 1px solid #333232;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
}

label > a{
    text-transform: uppercase;
    padding: 2px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.3px;
    color: #ffffff;
}

/* Tecnologias */

.container-experencies{
    background: rgb(154,154,154);
    background: linear-gradient(180deg, rgba(154,154,154,1) 3%, rgba(117,116,116,1) 34%, rgba(92,91,91,1) 100%); 
    background-blend-mode: multiply,multiply;
    margin: 0px;
    padding: 30px;
}

.container-experencies > h2 {
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 38px;
    text-transform: uppercase;
    text-shadow: #000000 10px 2px 10px;
    text-align: center;
    letter-spacing: 2px;
}

.divider
{
	position: relative;
	height: 1px;
    margin-bottom: 30px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 3px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
/*
.container-icons{
    position: sticky;
    left: 95%;
    height: 0px;
    top:-1px;
    bottom: 90%;
    z-index: 1;
    background-color: #00000000;
}

.container-icons--flex{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px 0px;
    padding: 10px;
}

.container-icons--flex > i {
    color: #ffffff;
    font-size: 40px;
}
*/

.container__tech--flex{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.container__techs{
    width: 70%;
    display: flex;
    position: static;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px 60px;
}

.container__techs__type{
    width: auto;
    text-align: center;
}

.container__techs__type > img {
    width: 100px;
    height: auto;
    padding: 10px;
}

.container{
    background: rgba(255, 255, 255, 0.623);
    box-shadow: 0 8px 32px 0 rgba(217, 218, 221, 0.37);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.container__tech > p{
    color: #ffffff;
    font-family: "Ubuntu",sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.skew-c{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to left bottom, #fff 49%, #823A9C 50%);
}

.skew-cc{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to right bottom, #5c5b5b 49%, rgb(235, 235, 235) 50%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
}

.container-social{
    margin-top: 100px;
    background-color: rgb(235, 235, 235);
}

.container-social > h2 {
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 38px;
    text-transform: uppercase;
    text-shadow: #b6b6b6 10px 2px 10px;
    text-align: center;
    letter-spacing: 2px;
}

.container__socials{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.container__social__icon > i{
    padding: 10px;
    font-size: 50px;
    color: #000;
    background-color: #ffffff;
    border: 2px solid #000;
    border-radius: 30%;
}

.social__icon > p{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.footer{
    background-color: #111111;
}

.footer__logo > span{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 500;
    display: block;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Scroolbar */
body::-webkit-scrollbar{
    -webkit-appearance: none;
    background-color: #303030;
}

body::-webkit-scrollbar:vertical,
body::-webkit-scrollbar:horizontal{
    width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #303030;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;  
}

/* Mobile */


@media (max-width: 720px) {

    .nav__block{
        display: flex;
        width: auto;
        height: auto;
        margin: 0px;
        padding: 5px;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .nav__element > a {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        color: #ffffff;
    }

    .hero-logo{
        width: 300px;
        height: auto;
    }

    .container__techs{
        width: 100%;
        display: flex;
        position: static;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 20px 20px;
    }
    
    .nav__element--none{
        display: none;
    }

    .nav__menu{
        font-size: 22px;
        display: inline;
    }

    .nav__logo{
        margin-top: 20px;
    }

    .skew-cc{
        width:100%;
        height:100px;
        position:absolute;
        left:0px;
        background: linear-gradient(to right bottom, #5c5b5b 49%, rgb(235, 235, 235) 50%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
    }

    .container-social > h2{
        padding: 15px;
    }
    .container__socials{
        padding: 30px;
    }
  }
  