@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Kanit';
  src: local('Kanit'), url('./fonts/Kanit/Kanit-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url('./fonts/Nunito/NunitoSans-Bold.ttf') format('trutype');
  font-weight: medium;
}

